---

# actual short cuts to stuff into keyboard

shortcuts:
   defaults:
        layercycle: "#"
        paneltoggle: "*"
   layers:
      - layer: 1
        title: General
        buttons:
            - key: "1"
              label: "Hello"
              string: "h e l l o TAB A r e SPACE y o u SPACE o k ?"
            - key: "2"
              label: "My name"
              string: "LS-k e v i n SPACE LS-g r o v e s"
            - key: "3"
              label: "What?"
              string: "LS-i s SPACE t h a t SPACE n o i s e ?"
            - key: "JACK1"
              label: "Teleprompter Pause"
              string: "SPACE"
            - key: "DIALSW"
              label: "Alarm"
              string: "AlarmSet"
                    
      - layer: 2
        title: Email
        buttons:
            - key: "1"
              label: "Hi"
              string: "LS-h e l l o , ENTER ENTER"
            - key: "2"
              label: "Kev"
              string: "ENTER ENTER LS-k e v , ENTER"
            - key: "3"
              label: "Best Wishes"
              string: "ENTER ENTER LS-b e s t SPACE w i s h e s ENTER LS-k e v i n SPACE LS-G r o v e s"
                       

      - layer: 3
        title: Admin
        buttons:
            - key: "0"
              label: "Shutdown"
              string: "LS-s h u t d o w n"
      - layer: 4
        title: "Alarm"
        buttons:
            - key: "1"
              label: "Set"
              string: "AlarmSet"
            - key: "2"
              label: "On"
              string: "AlarmOn"
            - key: "2"
              label: "Off"
              string: "AlarmOff"
            - key: "DIALSW"
              label: "Set"
              string: "AlarmSet"



